.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y0{bottom:0.000000px;}
.h1{height:958.100000px;}
.h0{height:958.152000px;}
.w1{width:700.050000px;}
.w0{width:700.128000px;}
.x0{left:0.000000px;}
@media print{
.y0{bottom:0.000000pt;}
.h1{height:982.666667pt;}
.h0{height:982.720000pt;}
.w1{width:718.000000pt;}
.w0{width:718.080000pt;}
.x0{left:0.000000pt;}
}
